@model Proje_Final_Atos.Models.Livro

@{
    ViewData["Title"] = "Delete";
}

<h1 class=" text-white">Deletar</h1>

<h3 class="text-white">Você Realmente Deseja Deletar?</h3>
<div class=" border border-dark shadow-sm p-1 mb-1 bg-gradient">
    <div class="container text-white">
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <h4>Livro</h4>
                <hr />
                <dl class="row text-white">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Titulo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Titulo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SubTitulo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SubTitulo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Autor)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Autor)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Genero)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Genero)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Idioma)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Idioma)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Capa)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Capa)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Resenha)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Resenha)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Deletar" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>